body {
    background-color: #f8f9fa;
    margin: 0;
    font-family: Arial, sans-serif;
}

.login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 0;
}

#logo {
    width: 50px;
    margin-bottom: 5px;
}

.login-container {
    max-width: 700px;
    padding: 2rem;
    background: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 500px;
}

form {
    margin-bottom: 1.5rem;
}

.mb-3 {
    margin-bottom: 1.5rem;
}

.forgot-text {
    margin-top: 0.5rem;
}

.btn-google {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #db4437;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-google img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.btn-google:hover {
    background-color: #c23321;
}

.signup-text {
    margin-top: 1rem;
}

h2 {
    margin-bottom: 1.5rem;
}

label {
    display: block;
    text-align: left;
    margin-bottom: 0.5rem;
}


button[type="submit"] {
    width: 100%;
    padding: 0.75rem;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}
